.position
{
  width: 600px;
  height: 200px;
  margin: 0 auto;
  background-color: whitesmoke;
  border: 1px solid #000;
  padding: 50px;

}
.submit
{
  color: white;
  background-color: rgb(7, 99, 30);
  padding: 6px 10px;
  font-size: 10px;
  outline: none;
  border: none;
  border-radius: 6px;
}
.error{
  color: red;
}